server:
  address: 127.0.0.1
  port: 9999
  servlet:
    context-path: /v1.0
  ssl:
    key-store: classpath:keystore.p12
    key-store-password: hello
    key-store-type: PKCS12
    key-alias: tomcat
